---
import Base from '../layouts/Base.astro';
import Counter from '../components/Counter.astro';
import Tree from '../components/Tree';
import Definition from '../components/Definition.astro';
import JoinForm from '../components/JoinForm';
import Pledge from '../components/Pledge.astro';
---

<Base title="AI Native Bharat">
  <main>
    <Counter />
    <Definition />
    <Tree client:load />
    <JoinForm client:load />
    <Pledge />
  </main>
</Base>
